[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/q0tik/quottech_frontend.git
[submodule "services/backend"]
	path = services/backend
	url = https://github.com/q0tik/quottech_backend.git
